.groups-carousel {
    display: flex;
    padding: 0.5rem;
    overflow-x: scroll;
    // white-space:
    &::-webkit-scrollbar {
        display: none;
    }
    .groups-carousel-item {
        width: 14rem;
        height: 8rem;
        margin-right: 1rem;
        outline: 1px solid #ccc;
        border-radius: 8px;
        img {
            width: 14rem;
            height: 8rem;
        }
    }
}