.MuiButtonBase-root {
    // padding: 1rem !important;
    color: var(--background-button) !important;
    a {
        color: black;
        text-decoration: none;

    }
}
.MuiButton-contained {
    background: var(--background-button) !important;
    color: white !important;
}

.MuiAvatar-root {
    margin-right: 1rem;
}
.profile-menu-link {
    width: 100%;
    display: flex;
    align-items: center;
}
.MuiListItemButton-root {
    padding: 0 !important;
}

.margin-zero {
    margin: 0 !important;
}
.padding-zero {
    padding: 0 !important;
}