* {
    box-sizing: border-box;
}

:root {
    --background-root: #EBECED;
    --background-button: #434C5E;
}

body {
    max-width: 1200px;
    font-family: var(--font-NotoSans);
    margin: 0 auto;
    font-size: 16px;
    background: var(--background-root)
}

.main {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
}

table {
    width: 100%;
    border: 1px solid #444444;  
}
th, td {
    border: 1px solid #444444;
    text-align: center;
}